
*{
    background-color: black;
    color: orangered;
}

.main{
    background: gray;
    margin-left: 32%;
    margin-top: 40px;
    width: 35%;
    height: 90px;
    border-radius: 6px;
    padding-top: 3px;
}
h1{
    text-align: center;
}

.button{
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 4px;
}

#range{
    margin-top: 15px;
    background-color: gray;
}

#showPass{
    width: 40vb;
}

input[type=checkbox]{
    /* width: 20px; */
    /* height: 20px; */
    background-color: #FA9E57;
}


input[type="range"]{
    /* width: 20px; */
    /* height: 20px; */
    background-color: #FA9E57;
}

input, textarea {
    background-color: gray;
  }

  .checkbox{
    background-color: gray;  }

    .ranges{
        background-color: gray;
    }